<!-- Aqui va todo el contenido de la pagina principal -->
<div class="fondoStatic">
  <div class="logoInicio">
    <img src="../../../assets/logoRazorSinNegroBanner1.png" alt="logo" />
  </div>
  <div class="">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="../../../assets/fondoMenu.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/playa.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="../../../assets/puebloAplio.png"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="intro text-center">
    <span
      >Después de tener un accidente en barco y quedar a la deriva, despiertas
      en una peculiar isla.</span
    >
    <span>¿Tienes lo necesario para poder sobrevivir?</span>
  </div>
  <!--!--------------------------------------------->
  <div class="container mt-5 pb-5">
    <h1 class="text-center text-pers">PAISAJE Y FAUNA</h1>
    <div class="flip">
      <div
        class="front"
        style="background-image: url(../../../assets/biomas.png)"
      >
        <h2 class="text-shadow">BIOMAS</h2>
      </div>
      <div
        class="back border"
        style="
          background-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 1)
            ),
            url(../../../assets/biomas.png);
        "
      >
        <h2>BIOMAS</h2>
        <p class="text-light">
          Camina por los distintos parajes de esta isla, y disfruta de paisajes
          hermosos.<br /><br />
          ¿Te apetece un día en la playa o tal vez un paseo por la montaña?
        </p>
      </div>
    </div>
    <div class="flip mx-3">
      <div
        class="front"
        style="background-image: url(../../../assets/fauna.png)"
      >
        <h2 class="text-shadow">ANIMALES</h2>
      </div>
      <div
        class="back border"
        style="
          background-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 1)
            ),
            url(../../../assets/fauna.png);
        "
      >
        <h2>ANIMALES</h2>
        <p class="text-light">
          Disfruta de esta aventura mirando los distintos tipo de animales que
          hay por loa isla.<br /><br />
          ¡De vacas pastando a gaviotas volando!
        </p>
      </div>
    </div>
    <div class="flip">
      <div
        class="front"
        style="background-image: url(../../../assets/cueva.png)"
      >
        <h2 class="text-shadow">CUEVAS</h2>
      </div>
      <div
        class="back border"
        style="
          background-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 1)
            ),
            url(../../../assets/cueva.png);
        "
      >
        <h2>CUEVAS</h2>
        <p class="text-light">
          Investiga en las cuevas ocultas del pueblo, quien sabe lo que puede
          haber ahí dentro.<br /><br />
          ¿Quizás un esqueleto corroído, o un tesoro escondido?
        </p>
      </div>
    </div>

    <br />
    <br />

    <!-- vertical -->
    <h1 class="text-center text-pers">MECÁNICAS</h1>
    <div class="flip flip-vertical">
      <div
        class="front"
        style="background-image: url(../../../assets/ataqueExp.gif)"
      >
        <h2 class="text-shadow">ARCO</h2>
      </div>
      <div
        class="back border"
        style="
          background-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 1)
            ),
            url(../../../assets/ataqueExp.gif);
        "
      >
        <h2>ARCO</h2>
        <p class="text-light">
          Ataca a distancia es muy seguro, pero necesitarás puntería para dar en
          el blanco.<br /><br />
          Por culpa de un desembarco tendrás que aprender a usar el arco.
        </p>
      </div>
    </div>
    <div class="flip flip-vertical mx-3">
      <div
        class="front"
        style="background-image: url(../../../assets/espada.png)"
      >
        <h2 class="text-shadow">ESPADA</h2>
      </div>
      <div
        class="back border"
        style="
          background-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 1)
            ),
            url(../../../assets/espada.png);
        "
      >
        <h2>ESPADA</h2>
        <p class="text-light">
          ¿Te gusta sentir la batalla de cerca? Pues desenvaina tu arma y al
          ataque.<br /><br />
          Si usas bien la espada, cualquier criatura será rematada.
        </p>
      </div>
    </div>
    <div class="flip flip-vertical">
      <div
        class="front"
        style="background-image: url(../../../assets/dash.gif)"
      >
        <h2 class="text-shadow">DASH</h2>
      </div>
      <div
        class="back border"
        style="
          background-image: linear-gradient(
              to bottom,
              rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 1)
            ),
            url(../../../assets/dash.gif);
        "
      >
        <h2>DASH</h2>
        <p class="text-light">
          Que mejor forma que escapar de una situación peligrosa, desplazate
          rapido para no ser dañado.<br /><br />
          Si no consigues esquivar, tus enemigos te podran aporrear.
        </p>
      </div>
    </div>
  </div>
</div>
