<div class="fondoStatic pt-1 pb-4">
  <div
    *ngFor="let noticia of noticias"
    class="noticia container bg-dark p-5 mt-4 text-light rounded"
  >
    <div class="row">
      <div class="info col-12 col-md-6 col-lg-7 col-xl-8">
        <h3>{{ noticia.titulo }}</h3>
        <p class="fecha text-muted">
          {{ noticia.fecha }}
        </p>
        <p class="pt-1">
          {{ noticia.parrafo }}
        </p>
      </div>
      <div class="imagen col-12 col-md-6 col-lg-5 col-xl-4 ">
        <img src="{{ noticia.src }}" class="rounded" />
      </div>
    </div>
  </div>
</div>
