<div class="fondoStatic pt-1 pb-4">

    <div class="noticia container bg-dark p-5 mt-4 text-light">
        <div class="row">
            <div class="info col-12 col-md-6 col-lg-7 col-xl-8">
                <h3>¡Una nueva aventura!</h3>
                <p class="pt-3">Este es el inicio de un nuevo proyecto, ¡vamos a crear un nuevo juego rpg!</p>
            </div>
            <div class="imagen  col-12 col-md-6 col-lg-5 col-xl-4">
                <img src="https://i.pinimg.com/280x280_RS/40/91/4d/40914dba265b4276b8194c591ccdfc87.jpg">
            </div>
        </div>
    </div>

    <div class="noticia container bg-dark p-5 mt-4 text-light">
        <div class="row">
            <div class="info col-12 col-md-6 col-lg-7 col-xl-8">
                <h3>¡Una nueva aventura!</h3>
                <p class="pt-3">Este es el inicio de un nuevo proyecto, ¡vamos a crear un nuevo juego rpg!</p>
            </div>
            <div class="imagen col-12 col-md-6 col-lg-5 col-xl-4">
                <img src="https://i.pinimg.com/280x280_RS/40/91/4d/40914dba265b4276b8194c591ccdfc87.jpg">
            </div>
        </div>
    </div>

</div>