.fondoStatic {
  background-image: url(../../../assets/fondoStatic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.imagen img {
  max-height: 200px;
  max-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}
